<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Tarefas Concluídas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item button *ngFor="let t of tarefasConcluidas" (click)="editar(t.id)">
      <ion-icon name="checkmark-circle" slot="start" color="success"></ion-icon>
      <ion-label style="text-decoration: line-through; opacity: 0.6;">
        <h2>{{ t.titulo }}</h2>
        <p>{{ t.descricao }}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="tarefasConcluidas.length === 0" lines="none">
      <ion-label class="ion-text-center">
        <br>
        <p>Nenhuma tarefa concluída ainda.</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>